@model MvcApplication17.Controllers.Person

<input type="text" class="form-control" placeholder="First Name" name="firstName" value="@Model.FirstName" />
<input type="text" class="form-control" placeholder="Last Name" name="lastName" value="@Model.LastName" />
<input type="text" class="form-control" placeholder="Age" name="age" value="@Model.Age"/>
<input type="hidden" value="@Model.Id" name="Id"/>
<button class="btn btn-success">Submit</button>